<a href="https://colab.research.google.com/github/singhdivyas/LearningPythonFromUdemy-ZeroToHero/blob/main/UdemyTutorialPractice_ZeroToHereoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Jai shree ram")

Jai shree ram

In [ ]:
1+2

3

Integer
Floating 
Strings
Lists
Dictionaries
Tuples
Sets
Booleans

In [ ]:
2+1

3

Python is Dynamic Type Langauge (i.e. no need to assign type to a variable)

In [ ]:
a = 10
a
type(a)

int

In [ ]:
"I'm going on run"

"I'm going on run"

In [ ]:
myString = "Hello World"
myString[-3]

'r'

In [ ]:
myString = "Hello World"
print(myString[2:])
print(myString[:2])
print(myString[::2])
# reversing string
print(myString[::-1])

llo World
He
HloWrd
dlroW olleH

In [ ]:
myString = "Hello World"
myString.upper()

'HELLO WORLD'

string interpolation (printing the Strings)

In [ ]:
print("This is String {}".format("INSERTED"))
name = "ram"
print(f'Hello, his name is {name}')

This is String INSERTED
Hello, his name is ram

In [ ]:
print("the {} {} {}".format("fox", "brown", 'quick'))
print("the {q} {b} {f}".format(f="fox", b="brown", q='quick'))

the fox brown quick
the quick brown fox

format(value:width.precision f)

In [ ]:
result = 100/777
print("the result was {r:1.5f}".format(r=result))

the result was 0.12870

List

In [ ]:
myList = ['one', 'two', 'three']
print(myList)
anotherList = ['four', 'five']
thirdList = myList + anotherList
print(thirdList)
thirdList.append('six')
print(thirdList)

['one', 'two', 'three']
['one', 'two', 'three', 'four', 'five']
['one', 'two', 'three', 'four', 'five', 'six']

In [ ]:
numList = [2,3,1,5,4,6,7]
numList.sort()
print(numList)
numList.reverse()
print(numList)

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

Dictionary

In [ ]:
my_Dict= {'key1':'value1', "key2":"value2"}
print(my_Dict)
print(my_Dict['key1'])
print(my_Dict.keys())
print(my_Dict.values())

{'key1': 'value1', 'key2': 'value2'}
value1
dict_keys(['key1', 'key2'])
dict_values(['value1', 'value2'])

Tuple

In [ ]:
myTuple = (1,2,3)
print(myTuple)

(1, 2, 3)

Sets

In [ ]:
myList = [1,1,1,1,2,3,3,3,3,4,4,4]
set(myList)

{1, 2, 3, 4}

Boolean

In [ ]:
type(False)

bool

In [ ]:
%%writefile myFile.txt
Hello this is a text file
this is second line
this is third line

Writing myFile.txt

In [ ]:
myFile = open("myFile.txt")

In [ ]:
with open("myFile.txt", mode='r') as f:
  print(f.read())

Hello this is a text file
this is second line
this is third line
Hello this is a text file
this is second line
this is third line

Logical operator 
and or not

In [ ]:
1<2>3

False

if, elif, else statements
for, while,

In [ ]:
if True :
  print("Ram")

items = [1,2,3,4,5,6]
for name in items:
  print(name)
x = 0
while x < 5:
  print(x)
  x=x+1

Ram
1
2
3
4
5
6
0
1
2
3
4

List Comprehension

In [ ]:
newList = [x for x in range(0, 11) if x%2==0]
print(newList)

[0, 2, 4, 6, 8, 10]

Function

In [ ]:
def sayHello(name='Krishna'):
  print(f'Hi {name}')

sayHello("ram")
sayHello()

Hi ram
Hi Krishna

Class

In [1]:
class Sample():
  pass

In [2]:
mySample = Sample()
type(mySample)

__main__.Sample

In [4]:
class Dog():
  def __init__(self, breed):
    self.breed = breed


my_dog = Dog(breed = 'Lab')
type(my_dog)

__main__.Dog